<div class="flex p-5 bg-gray-400 layout-container h-1/2">

  <div class="flex-1 g-green-200">
    <div class="flex h-full bg-blue-300">
      <div class="flex flex-col flex-1 h-full">
        <div class="flex flex-1">

          <div class="flex-1 h-full bg-red-200">
            <div class="h-full p-5 portlet-container">1</div>
          </div>
          <div class="flex-1 h-full bg-red-400">
            <div class="h-full p-5 portlet-container">2</div>
          </div>
          <div class="flex-1 h-full bg-red-200">
            <div class="h-full p-5 portlet-container">3</div>
          </div>
          <div class="flex-1 h-full bg-red-400">
            <div class="h-full p-5 portlet-container">4</div>
          </div>

        </div>

        <div class="flex flex-1">

          <div class="flex-1 h-full bg-yellow-200">
            <div class="h-full p-5 portlet-container">5</div>
          </div>
          <div class="flex-1 h-full bg-yellow-400">
            <div class="h-full p-5 portlet-container">6</div>
          </div>
          <div class="flex-1 h-full bg-yellow-200">
            <div class="h-full p-5 portlet-container">7</div>
          </div>
          <div class="flex-1 h-full bg-yellow-400">
            <div class="h-full p-5 portlet-container">8</div>
          </div>

        </div>
      </div>

  </div>

</div>
