<!-- <div class="flex items-center justify-center bg-yellow-100 main-container">
  <div class="w-3/5 p-6 bg-green-200 element-container">
    <app-multiselect [datasource]="datasource" [configuration]="dropdownSettings">
    </app-multiselect>

  </div>
</div> -->

<!-- <div class="flex flex-row p-2 bg-blue-300 main-container" >
  <button class="btn btn-primary">Delete</button>
  <button>Add this to my profile</button>
</div> -->
<!-- <app-image-map></app-image-map> -->
<!-- <app-dropdown-menu></app-dropdown-menu> -->

<app-home-layout></app-home-layout>
<router-outlet></router-outlet>
